$PRIMARY: #2545d3;
$SECONDARY: #ffa800;
$BLACK: #000000;
$DARKGRAY: #161b22;
$DARKNAVYBLUE: #121926;
$PURPLE_500: #4f4179;
$PURPLE_800: #38285a;
$LIGHT_GRAY: #cdd5df;
$LIGHT_PURPLE: #dfe0f8;
$GRAY: #4b5565;
$GRAY2: #9aa4b2;
$PURPLE_200: #9ba3ea;
$PURPLE_300: #717fe2;
$DARK_PRIMARY: #1f3dc8;
$SECONDARYGRAY: #697586;
