$PRIMARY: #1db837;
$SECONDARY: #1D3CB8;
$BLACK: #000000;
$DARKGRAY: #161b22;
$DARKNAVYBLUE: #121926;
$PURPLE_500: #794170;
$PURPLE_800: #38285a;
$LIGHT_GRAY: #cdd5df;
$LIGHT_PURPLE: #dfe0f8;
$GRAY: #4b5565;
$GRAY2: #9aa4b2;
$PURPLE_200: #9ba3ea;
$PURPLE_300: #88e271;
$DARK_PRIMARY: #2E5234;
$SECONDARYGRAY: #697586;
