@import "@utils/colors.scss";
.whyUsContainer {
  background-color: $DARKNAVYBLUE;
  width: 100%;
  height: 100%;
  padding: 42px 0px;
}

.chatContainer {
  height: 64px;
  width: 64px;
  border-radius: 100%;
  background-color: $PRIMARY;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .whyUsContainer {
    padding: 24px 0px;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .whyUsContainer {
    padding: 36px 0px;
  }
}
